  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://docs.google.com/document/d/1D6Bayy9Wzepo3F2WnoiDPDPHruQBxbTD9GUvdQe61ow/edit?usp=sharing" target="_blank">Formal Resume</a>
                        </li>
                        <li><a href="mailto:streamweaver@gmail.com">streamweaver@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
