<!-- About Section -->
    <section id="history">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work History</h2>
                    <h3 class="section-subheading text-muted">
                      I've been very lucky to have a career with some
                      amazing experiences and worked with some wonderful people
                      along the way.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      <li class="timeline">
                          <div class="timeline-image">
                              <h4>Our
                                 <br>Stories
                                  <br>Meet!</h4>
                          </div>
                      </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/henrico.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2015 - Now</h4>
                                    <h4 class="subheading">IT Project Leader</h4>
                                    <h4 class="subheading">Henrico County, Va</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Leading a number of projects for various public safety divisions, it was a real
                                    privilege to be selected as the Technical Section Chief for the <a href="http://news.henrico.com/live/henrico-ready-for-uci-road-world-championships" target="_blank">Central Virginia Unified Command</a> during
                                  the UCI Bike Race.  In my time here, I've helped improve our IT management practices by introducing the organization to ITIL and migrating to GIT
                                for version control.  I've touched a number of projects from developing applications in C# using MVC.Net to improving our deployments by
                                  introducing dev-ops through Ansible provisioning.  Overall, it's been a great experience entering public service, and I've been very lucky
                                  to be positioned to contirbute significantly to modernizing our environment.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/aptrust.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2012 - Jan 2015</h4>
                                    <h4 class="subheading">Lead Software & Systems Engineer</h4>
                                    <h4 class="subheading">APTrust, University of Virginia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As the first permanent staff with <a href="http://www.aptrust.org/" target="_blank">Academic Preservation Trust</a>,
                                       it was a fun challenge to
                                      establish all of the infrastructure and business practices the organization would use.
                                      I created the staffing plan, hired and managed most of the other permanent staff, as well
                                      as liaisoned with or managed contributors from partner universities who contributed to the project.
                                      Additionally, I had the opportunity to create large portions of the original codebase, release
                                      some open source libraries that contributed to the field and designed several APIs that were
                                      fundamental to the success of our project and a sister project known as <a href="http://www.dpn.org/" target="_blank">The Digital Preservation
                                      Network</a>.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/emoryseteam.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2008 - Nov 2012</h4>
                                    <h4 class="subheading">Manager of Software Engineering</h4>
                                    <h4 class="subheading">Emory University Library</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As manager of the newly created Software Engineering team, it was
                                    a fun challenge to develop an Agile Development team from a rotating group that varied from
                                   4 to 12 developers, including students and permanent staff at all levels of skill.  We managed
                                a large portfolio of high visibility projects, stablized the team on Python as our primary development language,
                              and built a great foundation for Software Engineering using continuous integration, unit testing, scripted deployments and
                            a strong best practices culture.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/emorylibraries.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sept 2007 - Nov 2008</h4>
                                    <h4 class="subheading">Senior Software Engineer</h4>
                                    <h4 class="subheading">Emory University Library</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I moved from the Health Sciences Center to this job because I really liked the challenge of migrating the legacy search system to a modernized solr index with faceting and other features that would greatly enhance the research experience for all University users.  Not only did I need to install and manage the central search application in a beta state, but I had to engineer all the methods for migrating and displaying the legacy records from our catalog in the search tool, which was based in Apache Solr.  A big win in this job was translating our searchable records from a legacy Marc8 format to Unicode, which enabled searching of a large number of previously inaccessible academic resources that used their native languages like Manderin or Arabic.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/genes.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2001 - Sept 2007</h4>
                                    <h4 class="subheading">Operating Systems Analyst/Admin</h4>
                                    <h4 class="subheading">Emory University Health Sciences Center Library</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As the lead IT professional of a small staff, it was a great experience
                                    to be able to administer servers, develop code for a number of biomedical academic projects, help establish the first university electronic journal management system and more.  Like all small mission-driven organizations, we had a lot of exciting things to do and particularly at this time we were able to pilot or experiment with a number of projects that would establish the foundation of modern medical informatics at Emory.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/webdev.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 1997 - May 2001</h4>
                                    <h4 class="subheading">Web/Multi-media Developer</h4>
                                    <h4 class="subheading">Emory University Health Sciences Center Library</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Making the transfer from microbiologist to full-time IT professional, I was positioned to use my skills to focus developing resources for researchers and academics.  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/microbiology.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1992 - 1997</h4>
                                    <h4 class="subheading">Microbiology Student/Technician</h4>
                                    <h4 class="subheading">Kansas State University Soil Microbiology Lab</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a microbiology student during the start of the broader bioinformatics revolution, I was lucky to mix learning and traditional bench work with my life long interest in programming by querying new protein and genetics databases to enhance our studies and lab work.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/army.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1987 - 1992</h4>
                                    <h4 class="subheading">Intelligence Analyst</h4>
                                    <h4 class="subheading">U.S. Army</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As an intelligence analyst, my earliest real professional education included a large amount of report writing, relational database work and presentation preparation.  It's amazing to me how useful these early experiences were to me throughout the rest of my professional life, particularly in summarizing and presenting findings, as well as the inherent work ethic you find in military service.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
