<!-- Services Section -->
    <section id="summary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Professional Summary</h2>
                    <h3 class="section-subheading text-muted">
                      An IT Manager with a strong Software Engineering background
                      and skill set.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IT Management</h4>
                    <p class="text-muted">
                      Managing IT professionals is a difficult process.  You need
                      enough IT skills to speak on the same level and to exercise
                      good judgment.  Ultimately, management can be a humbling
                      experience, as the good job is done by the people
                      you work with. It's more about clearing a path for them,
                      helping everyone rally around a common goal and building helpful
                      processes than about flexing your own IT muscle.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IT Strategy</h4>
                    <p class="text-muted">
                      IT is fast paced and rapidly evolving but is more of a long
                      game than it's given credit for.  How agile an organization
                      can be is entirely dependent on how well they position themselves
                      for emerging trends and technologies, and how deftly they
                      handled avoiding fads and buzz-terms.  Having a full picture of
                      how to operationalize your IT plan is critical, as is maintaining
                      a thoughful plan on how to evolve over the next several years.
                      Without a plan to evolve, you'll never get out of the mode of reacting
                      and your IT will never keep pace with your needs.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software Engineering</h4>
                    <p class="text-muted">
                      A software engineer doesn't just write code.  They understand
                      design patterns and how larger code bases are architected in
                      a way that cuts down on repetition and introduces no unnecessary
                      complexity.  Continuous integration and testing is a fundamental
                      way of life, because there are no happy accidents for
                      software engineers.
                    </p>
                </div>
            </div>
        </div>
    </section>
